@model IEnumerable<KnewinEventAspNetMvc5.Web.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SETOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQUIPE.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SETOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQUIPE.NOME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_USUARIO })
        </td>
    </tr>
}

</table>
