@model IEnumerable<KnewinEventAspNetMvc5.Web.Models.CALENDARIO>

@{
    ViewBag.Title = "Calendários";
}

<h2>Calendários</h2>

<p>
    @Html.ActionLink("Incluir Novo", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQUIPE.NOME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQUIPE.NOME)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.COD_CALENDARIO }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Vizualizar", "Details", new { id=item.COD_CALENDARIO }, new { @class = "btn btn-info btn-sm" })
            @Html.ActionLink("Remover", "Delete", new { id=item.COD_CALENDARIO }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
